<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>id_maven</id>
            <username>gt_sandbox_user_16</username>
            <password>G6tQw3rx</password>
        </server>
        <server>
            <id>public</id>
            <username>gt_sandbox_user_16</username>
            <password>G6tQw3rx</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>id_maven</id>
            <repositories>
                <repository>
                    <id>id_maven</id>
                    <url>https://works.v-serv.ru/nexus-ci/repository/id_maven/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>id_maven</activeProfile>
    </activeProfiles>
</settings>